.admin{
    height: 100vh;
    background: var(--extraLightGray);
    display: flex;
    overflow: hidden;
}
.admin .adminDiv{
    width: 82%;
    padding: 40px 30px;
    overflow-y: auto;
    height: 100vh;
}

.admin .adminDiv .tableDiv{
    padding: 0;
}
.admin .adminDiv .tableDiv .upper .upperRight{
    display: flex;
    align-items: center;
    gap: 10px;
}
.admin .adminDiv .tableDiv .id,
.admin .adminDiv .tableDiv .idField{
    width: 150% !important;
}
.admin .adminDiv .tableDiv .rows .row .titleField .title{
    width: 90%;
}
.admin .adminDiv .tableDiv .rows .row .icon{
    width: 15px !important;
    height: 15px !important;
}
.admin .adminDiv .tableDiv .rows .row .arrowRight{
    width: 20px !important;
    height: 20px !important;
}


/* ****************************** LOGIN PAGE ****************************** */

.adminLoginDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.adminLoginDiv .adminLoginContent{
    background: var(--white);
    border-radius: 8px;
    height: fit-content;
    min-width: 50%;
    padding: 30px 50px;
}
.adminLoginDiv .adminLoginContent .primaryHeading,
.adminLoginDiv .adminLoginContent .primaryBtn{
    width: 100%;
    text-align: center;
}




/* ****************************** HEADER PAGE ****************************** */

.adminHeaderDiv{
    position: sticky;
    background: var(--lightGray);
    height: 100vh;
    top: 0;
    left: 0;
    width: 18%;
    padding: 30px 20px;
}
.adminHeaderDiv .horizontalLine{
    background: var(--gray);
}

.adminHeaderDiv .adminHeaderContent{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.adminHeaderDiv .adminHeaderContent .faithzyLogoDiv{
    margin: auto;
    width: 90px;
    height: 90px;
}

.adminHeaderDiv .adminHeaderContent .mainMenu{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.adminHeaderDiv .adminHeaderContent .mainMenu li a{
    position: relative;
    display: flex;
    gap: 8px;
    align-items: center;
}
.adminHeaderDiv .adminHeaderContent .mainMenu li a.activeLi{
    color: var(--black);
    font-weight: 600;
}
.adminHeaderDiv .adminHeaderContent .mainMenu li a.activeLi::before{
    position: absolute;
    top: 10%;
    left: -5%;
    background: var(--black);
    width: 2%;
    height: 80%;
    content: "";
    border-radius: 8px;
}




/* ****************************** EMPLOYEES PAGE ****************************** */

.adminEmployeesDiv .addNewModelDiv .popupContent{
    min-width: 60%;
}

.adminEmployeesDiv .dropdownPlus{
    width: 100%;
    margin: 5px 0px;
}
.adminEmployeesDiv .editEditorAccess{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px 0px;
}
.adminEmployeesDiv .editEditorAccess .accessBtn{
    display: flex;
    justify-content: space-between;
    margin: 0px 15px;
}
.adminEmployeesDiv .editEditorAccess .accessBtn .dropdownPlus{
    width: fit-content;
    margin: 0;
}
.adminEmployeesDiv .showDetailsModelDiv .row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.adminEmployeesDiv .showDetailsModelDiv .accessTo{
    margin-top: 5px;
    font-size: 0.9rem;
}






/* ****************************** ADMIN TERMS & CONDITIONS PAGE ****************************** */

.adminTermsDiv textarea{
    width: 100%;
    background: var(--white);
    padding: 20px 30px;
    margin-bottom: 20px;
    min-height: 70vh;
    border: 1px solid var(--gray);
    outline: none;
    border-radius: 8px;
}




/* ****************************** ADMIN SOCIAL LINKS PAGE ****************************** */

.socialLinksDiv .horizontalLine{
    margin-top: 10px;
}
.socialLinksDiv .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}
.socialLinksDiv .socialCheckInput{
    cursor: pointer;
}
.socialLinksDiv .row .platformName{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--lightBlackPrimary);
}
.socialLinksDiv .row .socialInput{
    width: 85%;
    padding: 8px 20px;
    outline: none;
    border: 1px solid var(--gray);
    border-radius: 8px;
}




/* ****************************** ADMIN CATEGORIES PAGE ****************************** */

.adminCategoriesDiv .popupDiv .dropdownPlus{
    margin: 5px 0px;
    width: 100%;
}





/* ****************************** ADMIN COUPONS PAGE ****************************** */

.adminCouponsDiv .detailsModelDiv .details .row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.adminCouponsDiv .detailsModelDiv .buttonsDiv{
    margin-top: 20px;
}





/* ****************************** ADMIN FEE MANAGEMENT PAGE ****************************** */

.adminFeeDiv .adminFeeContent{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-top: 20px;
}
.adminFeeDiv .adminFeeContent .left{
    min-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.adminFeeDiv .adminFeeContent .box{
    width: 100%;
    background: var(--white);
    border-radius: 8px;
    height: fit-content;
}
.adminFeeDiv .adminFeeContent .box .secondaryHeading{
    color: var(--white);
}
.adminFeeDiv .adminFeeContent .box .secondaryHeading span{
    color: var(--secondaryCopper);;
}
.adminFeeDiv .adminFeeContent .box .secondaryBtn{
    margin-top: 10px;
}

.adminFeeDiv .adminFeeContent .box .upper{
    padding: 10px 18px;
    background: var(--primaryBlue);
    color: var(--white);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.adminFeeDiv .adminFeeContent .box .lower{
    padding: 20px 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.adminFeeDiv .adminFeeContent .box .lower .buttonsDiv{
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: right;
}
.adminFeeDiv .adminFeeContent .right .lower .discountType{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}
.adminFeeDiv .adminFeeContent .right .lower .discountType .radioBtn{
    display: flex;
    gap: 5px;
}